<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{adminlte_templates/base}">

<head th:replace="adminlte_templates/base::head">
	<meta charset="ISO-8859-1">
	<title th:text ="actualizar"></title>
</head>

<body>
	<div layout:fragment="contenido" class="content">
		<div class="row mb-2" th:fragment="h1">
			<div class="col-sm-6">
				<h1  class="m-0" th:text="Actualizando">Actualizando</h1>
			</div>

			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
					<li class="breadcrumb-item"><a th:href="@{/buscar-visitantes}">Ver Registros</a></li>
					<li th:if="${new_edit == 'editando'}" class="breadcrumb-item"><a th:href="@{/crear-visitantes}">Crear Nuevo</a></li>
					<li th:text="${new_edit}" class="breadcrumb-item  active">Crear nuevo</li>
				</ol>
			</div>
		</div>
		<div class="container">
			<div class="card  mt-5 border-secondary">
				<div class="card-header bg-primary font-weight-bold h4 text-center text-white  shadow">
					Actualizando Visitante
				</div>
				<div class="card-body">
					<form th:action="@{/UPDATE}" th:object=${visitante} method="PUT" enctype="multipart/form-data">
						<div class="row">
							<div class="btn btn-primary form-group col-2 mt-2">
								<label class="ml-4">ID</label>
								<input th:field="*{visitanteCodigo}" type="text" class="form-control text-center" readonly/>
							</div>
						 
							<div class="form-group mt-2 col">
								<label>IDENTIFICACION</label>
								<input th:field="*{visitanteIdentificacion}" type="search" name="" class="form-control" required
									autofocus placeholder="Ingrese su identificacion..."  />
							</div>

						</div>
					
						<div class="row">
							<div class="form-group col">
								<label class="text-uppercase">Primer Apellido</label>
								<input th:field="*{visitanteApellidos}" type="text" class="form-control" required
									placeholder="Ingrese los apellidos..." />
							</div>
						 
						</div>
						
						<div class="row">
							<div class="form-group mt-2 col">
								<label class="text-uppercase">Nombres</label>
								<input id="visitanteNombres" th:field="*{visitanteNombres}" type="text" class="form-control  text-uppercase" required
									placeholder="Ingrese los nombres..." />
							</div>
							 
						</div>
						
						<div class="form-group mt-2 col-6">
							<label class="text-uppercase">Telefono</label>
							<input th:field="*{visitanteTelefono}" type="number" class="form-control"
								placeholder="Ingrese el telefono..." />
						</div>
						<div class="row">
							<div class="col-md-12 mt-3 ">
								<div class="card card-default">
									<div class="card-header">
										<h3 class="card-title font-weight-bold text-uppercase">Subir Archivos</h3>
									</div>
									<div class="card-body  shadow">
										<div class="row">

											<div class="form-group col">
												<label for="archivoImagen">Seleccione Archivo Arl</label>
												<input type="file" class="form-control-file" name="arlArchivoImagen"
													id="archivoImagen">
											</div>
											 
										</div>
									</div>
								</div>
								<!-- /.card -->
							</div>
						</div>
				</div>
				<div class="card-footer">
					<button id="guardar" type="submit" class="btn btn-primary btn-crear"><i class="fas fa-save"></i>
						Guardar</button>
				
					<a id="atras" th:href="@{/buscar-visitantes}" class="btn btn-success btn-crear" title="Atras"><i
							class="fas fa-arrow-circle-left"></i> Atras</a>
				</div>
				</form>
			</div>


		</div>

	</div>