<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{adminlte_templates/base}">

<head th:replace="adminlte_templates/base::head">
	<meta charset="ISO-8859-1">
	<title th:text="${titulo}">Crear Subdestino</title>
</head>

<body>
	<div layout:fragment="contenido" class="content">
		<div class="row" th:fragment="h1">
			<div class="col-sm-6 mt-3">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
					<li class="breadcrumb-item"><a th:href="@{/subdestinos/buscar}">Ver Registros Subdestinos</a></li>
					<li class="breadcrumb-item  active">Crear nuevo Subdestino</li>
				</ol>
			</div>
		</div>
		<div class="container mt-2 w-50">
			<form th:action="@{/subdestinos/save}" th:object=${subdestino} method="POST">
				<div class="card  border-secondary">
					<div class="card-header bg-primary font-weight-bold h4 text-center text-white  shadow">
						Registro de Subdestinos
					</div>
					<div class="card-body">
						<div class="row">
							<div class="form-group">
								<input th:field="*{subDestinoCodigo}" type="hidden" class="form-control" />
							</div>
							<div class="col form-group mt-2">
								<label class="label-name">SUBDESTINO</label>
								<input th:field="*{subDestinoNombre}" type="text" name="" class="form-control"
									placeholder="Ingrese el Destino" required />
							</div>
							
							<div class="col form-group  mt-2 ">
								<label class="text-uppercase label-name" for="destino">DESTINO</label>
								<select th:field="*{destino}" id="destino" class="form-control" >
									<option value="">Seleccione un destino...</option>
									<option th:each="destino:${destinos}" th:value=${destino.destinoCodigo}
										th:text="${destino.destinoNombre}" />
								</select>
							</div>

							<div class="col form-group mt-2">
								<label class="label-name">ENCARGADO</label>
								<input th:field="*{subDestinoEncargado}" type="text" name="" class="form-control"
									placeholder="Ingrese el Encargado" required />
							</div>
							
						</div>
						<div class="row" th:if="${editar}">

							<div class="col form-group form-check ml-2" >
								<input  th:field="*{subDestinoActivo}" th:checked="${subdestino != null}" type="checkbox"
									class="form-check-input" id="exampleCheck1" />

								<label class="form-check-label font-weight-bold" for="exampleCheck1">ACTIVAR O INACTIVAR</label>
							</div>


						</div>

						<div class="card-footer">
							<button id="guardar" type="submit" class="btn btn-primary btn-crear"><i
									class="fas fa-save"></i>
								Guardar</button>
							<button id="limpiar" type="reset" class="btn btn-danger  btn-crear"><i
									class='fas fa-broom'></i>
								Limpiar</button>
							<a id="atras" th:href="@{/subdestinos/buscar}" class="btn btn-success btn-crear"
								title="Atras"><i class="fas fa-arrow-circle-left"></i> Atras</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!--OTRO SCRIPTS PARA PAGINAS-->
	<th:block layout:fragment="page-scripts"></th:block>

</body>

</html>